body{
    font-family: Arial, sans-serif;
    background-color: #3d2d2d;
    color: #128847c9;
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background: linear-gradient(90deg, #0715dd, #f5fe7b);
    padding: 20px;
}
h1{
    font-size: 2.5em;
    margin: 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
.gallery img{
    max-width: 300px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.gallery img:hover{
    transform: scale(1.05);
}
footer{
    background: linear-gradient(90deg, #0715dd, #f5fe7b);
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
form{
    width: 300px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    height: 100%;
}
form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
form button{
    background-color: #0715dd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover{
    background-color: #f5fe7b;
    color: #000000;
}
